<mat-toolbar color="primary">
    <button mat-button routerLink=''>
        Home
    </button>
    <button mat-button routerLink='mfe1'>
        Mfe 1
  
    </button>
    <button mat-button routerLink='mfe2'>
        Mfe 2

    </button>
</mat-toolbar>

<ng-container>
   
        <router-outlet></router-outlet>
   

</ng-container>

