<div class="container">
  <federated-component remoteEntry="http://localhost:4300/remoteEntry.js" remoteName="mfe1" exposedModule="MfeCardModule"
    componentName="MfeCardComponent"></federated-component>
  <federated-component  remoteEntry="http://localhost:4500/remoteEntry.js" remoteName="mfe2" exposedModule="Mfe2Module"
    componentName="Mfe2Component"></federated-component>
</div>