.example-card {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .container {
    flex-direction: row;
    display: flex;
  }
